[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
python-telegram-bot = "~=10.1.0"
configparser = "~=3.5.0"

[dev-packages]
pylint = "~=1.9.1"
pre-commit = "~=1.8.2"
numpy = "~=1.14.3"
scipy = "~=1.1.0"

[requires]
python_version = "3.7"

